* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden !important;
}

.learncode {
    width: 100%;
    height: 500px;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #f8f6f6;
    padding-top: 70px;
}

#learncode {
    font-size: 70px;
    font-weight: 700;
}

#learn2 {
    color: #FFC0C7;
    font-weight: 700;
    /* margin-top: 10px; */
    font-size: 23px;
}

.search {
    width: 32%;
    margin-left: 34%;
}

#search-div {
    padding-left: 40%;
}

a {
    cursor: pointer;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 700;
    color: white;
}

.html {
    width: 100%;
    height: auto;
    background-color: #D9EEE1;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
}

.content-left {
    width: 50%;
    height: auto;
    /* float: left; */
    text-align: center;
}

.content-right {
    width: 42%;
    height: 530px;
    float: left;
    /* padding: 3% 7% 2% 4%; small devices */
}

#content-text {
    font-size: 100px;
    font-weight: 700;
    margin-top: -18px;
    font-family: 'Source Sans Pro', sans-serif;
}

#html-btn {
    border-radius: 25px;
    padding-left: 52px;
    padding-right: 39px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.html-example {
    padding: 16px;
    background-color: #38444d;
    color: #ddd;
    border-radius: 5px;

}

.html-code {
    font-size: 15px;
    height: 300px;
    background-color: black;
}

.css {
    width: 100%;
    height: auto;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    background-color: #FFF4A3;
}

.javascript {
    width: 101%;
    height: auto;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    background-color: #070707;
}

.js-code {
    font-size: 15px;
    height: 231px;
    background-color: black;
    overflow: hidden;
}

.python {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    background-color: #F3ECEA;
}

.sql {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    background-color: #96D4D4;
}

.list {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 45px;
}

.php-section {
    padding: 3% 7% 2% 4%;
    width: 49.99%;
    text-align: center;
    float: left;
}

.list-php {
    color: black;
    background-color: #FFC0C7;
    padding: 24px;
    border-radius: 5px;
}

.list-sub-head {
    font-weight: 400;
}

.list-jquery {
    color: black;
    padding: 24px;
    border-radius: 5px;
    background-color: #FFF4A3;
}

.list-java {
    color: black;
    padding: 24px;
    border-radius: 5px;
    background-color: #F3ECEA;
}

.list-c {
    color: black;
    padding: 24px;
    border-radius: 5px;
    background-color: #D9EEE1;
}

.list-w3c {
    color: black;
    padding: 24px;
    border-radius: 5px;
    background-color: #96D4D4;

}

.list-bootstrap {
    color: black;
    padding: 24px;
    border-radius: 5px;
    background-color: #ffffff;
}

.w3lang {
    width: 100%;
    height: auto;
    background-color: black;
    margin: auto;
}

.c {
    padding: 2% 3%;
    height: auto;
    text-align: center;
    width: 49.99999%;
    float: left;

}

.content {
    padding: 36px 24px;
    font-size: 30px;
    font-weight: 500;
    background-color: #FFC0C7;
    border-radius: 5px;
}

.sublang {
    padding: 2% 4%;
    width: 24.99999%;
    text-align: center;
    float: left;
    font-size: 15px;
    line-height: 1.5;
    display: grid;

}

.langlist {
    padding: 24px 15px;
    border-radius: 5px;
    background-color: #F3ECEA;
    color: black;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.codeeditor {
    width: 100%;
    height: auto;
    background-color: #070707;
    padding: 30px 3px 50px 3px;
}

.editorcontent {
    max-width: 974px;
    padding: 8px 16px;
    /* margin-left: 269.600px; */
    margin-right: 269.600px;

}

.spaces {
    width: 100%;
    height: auto;
    background-color: #282A35;
    padding: 30px 3px 85px 3px;
}

.mylearning {
    width: 100%;
    height: auto;
    background-color: #D9EEE1;
    padding: 30px 3px 85px 3px;
}

.prouser {
    width: 100%;
    height: 400px;
    background-color: #000000;
    padding: 30px 3px 85px 3px;
}

ul li {
    list-style-type: none;
    text-align: center;
    color: white;
}

.colorpicker {
    width: 100%;
    height: auto;
    background-color: #e0d9d9;
    padding: 30px 3px 85px 3px;
}

.codegame {
    width: 100%;
    height: auto;
    background-color: #96D4D4;
    padding: 30px 3px 85px 3px;
}

.excercise {
    width: 100%;
    padding-left: 20px;
    background-color: rgb(13, 23, 33);
    color: white;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    height: auto;
}

.webtemplates {
    width: 100%;
    height: auto;
    background-color: #96D4D4;
    padding: 30px 3px 85px 3px;
    background-color: #38444d;
    color: #ddd;
}

.kickstart {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 40px;
}

.footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 30px;
}

@media screen and (max-width: 1200px) {
    #codeeditorimg {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    #codeimg {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #codeimg {
        width: 50%;
    }

    .content-right {
        padding: 3% 7% 2% 4%;
    }
}